<body class="grid place-items-center">
    <div class="grid place-items-center w-12/12 mt-7 shadow-lg shadow-black rounded-xl rounded-t-xl rounded-b-xl">

        <div class="w-full grid place-items-center bg-gray-300/60 drop-shadow-2xl rounded-t-lg ">
            <h1 class="text-4xl font-bold flex text-center mt-7">Descubre los Mejores <br> Emprendimientos de Ocaña <br>
            </h1>
            <p class="text-lg text-gray-600">Encuentra lo que necesitas, apoya lo local</p>

            <div class="flex w-5/12 items-center my-7 bg-white border border-gray-500 rounded-lg hover:border-blue-600">
                <input class="  w-5/6 p-3 placeholder:text-gray-600 focus:outline-none" type="search" name="" id=""
                    placeholder="Escribe lo que buscas">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="12" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class=" flex text-center rounded-r-md w-2/12 p-2 text-white h-auto bg-blue-500 hover:bg-blue-600 cursor-pointer icon icon-tabler icons-tabler-outline icon-tabler-search">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>

            </div>
        </div>

        <div class="flex  w-full gap-5">
            <!-- <div class="ml-10 w-3/12 mt-10 ">
                <h2 class="text-xl font-semibold text-gray-800 pl-3">Filtrar Por</h2>
                <div class=" mt-5 grid gap-y-3 p-5 rounded-md bg-gray-300/50">
                    <h3 class="text-gray-800 font-semibold ">Categoria</h3>

                    <label class="flex gap-2" for="">
                        <input type="checkbox" name="" id="">
                        Gastronomia
                    </label>
                    <label class="flex gap-2" for="">
                        <input type="checkbox" name="" id="">
                        Moda
                    </label>
                    <label class="flex gap-2" for="">
                        <input type="checkbox" name="" id="">
                        Tecnologia
                    </label>

                </div>
                <div class=" mt-5 grid gap-y-3 p-5 rounded-md bg-gray-300/50">
                    <h3 class="text-gray-800 font-semibold ">Ubicacion</h3>

                    <label class="flex gap-2" for="">
                        <input type="checkbox" name="" id="">
                        Juan 23
                    </label>
                    <label class="flex gap-2" for="">
                        <input type="checkbox" name="" id="">
                        Marabel
                    </label>
                    <label class="flex gap-2" for="">
                        <input type="checkbox" name="" id="">
                        Santa Cruz
                    </label>

                </div>

            </div> -->

            <div class="w-full grid gap-y-5  mt-10 ">
                <h2 class=" flex text-2xl font-semibold text-gray-800 justify-center ">Ultimos Emprendimientos</h2>

                <div
                    *ngFor="let business of businesses" class="flex gap-3 mx-5 inset-shadow-sm inset-shadow-indigo-500 rounded-xl transition-all duration-300 ease-in-out scale-100 shadow-md hover:scale-103 hover:shadow-lg">
                    <img class="rounded-lg m-3 w-48 h-48 object-cover"
                        [src]="business.imagePath || 'https://via.placeholder.com/150'"
                        alt="Imagen del emprendimiento" />
                    <div class=" flex flex-col justify-center w-2/3">
                        <p class="my-2 text-xl font-bold">{{ business.name }}</p>
                        <p class="text-sm text-gray-700">
                            {{business.description }}
                        </p>
                    </div>
                </div>
                
            </div>

        </div>
        <app-footer class="w-full"></app-footer>
    </div>


</body>