<header>
    <div class=" flex items-center py-4 gap-7 justify-between">
        <a routerLink="/">
            <div class=" flex gap-2 justify-center items-center text-blue-400 cursor-pointer">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor "  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-topology-star-ring-3"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 19a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z" /><path d="M18 5a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z" /><path d="M10 5a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z" /><path d="M6 12a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z" /><path d="M18 19a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z" /><path d="M14 12a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z" /><path d="M22 12a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z" /><path d="M6 12h4" /><path d="M14 12h4" /><path d="M15 7l-2 3" /><path d="M9 7l2 3" /><path d="M11 14l-2 3" /><path d="M13 14l2 3" /><path d="M10 5h4" /><path d="M10 19h4" /><path d="M17 17l2 -3" /><path d="M19 10l-2 -3" /><path d="M7 7l-2 3" /><path d="M5 14l2 3" /></svg>
                <h1 class="text-3xl font-bold  text-gray-800">Emprende<span class=" text-red-700">Red</span></h1>
           </div>
        </a>

        <a >
            <p class=" text-gray-800 cursor-pointer hover:text-blue-600 border-b-2">Explorar Emprendimientos</p>
        </a>

        <a href="">Publicar tu emprendimiento</a>

        <a routerLink="/login">
            <p class=" text-gray-800 cursor-pointer hover:text-blue-600 border-b-2">
                inciar sesión
            </p>
        </a>

        <a routerLink="/register">
            <p class=" text-gray-800 cursor-pointer hover:text-blue-600 border-b-2">
                registrarse
            </p>
        </a>
    </div>
</header>
